.DeckOfCards {
    width: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;

}

button:focus {outline:0;}


.cards {
    width: 90vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}